@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap); /*BACKGROUND COLOR 
#7AA4E3 - light blue
#546f98 - dark blue
#e35959 - red
#57c09d - green
*/

/* ******************* MAIN CONTENT ************* */

.main-container h1 {
  margin: 25px 30px;
  color: #546f98;
  text-shadow: none;
}

/* ******************* Device Comp. ************* */

.device-container {
  margin-top: 15px;
  width: 100%;
  min-width: 530px;
}

.text-container label {
  min-width: 80px;
  text-align: left;
}

.deviceListItem {
  background-color: #7aa4e3;
  height: 43px;
  border-radius: 20px;
  margin: 13px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-container {
  padding-left: 25px;
  padding-top: 11px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.deviceListItem button {
  width: 33px;
  height: 33px;
  margin-top: -5px;
  border-radius: 20px;
  margin-left: 20px;
  border-style: solid;
  border: 0;
}

button img {
  padding: 1px;
  height: 70%;
  padding-top: 2px;
}

#EditButton {
  background-color: #ffb24a;
}
#EditButton:hover {
  background-color: #e9972c;
}

#DeleteButton {
  background-color: #ff4a4a;
}
#DeleteButton:hover {
  background-color: #e02222;
}

.deviceListItem button:focus,
.AddDeviceButton:focus {
  outline: none;
}
#deviceLocation {
  width: 220px;
  text-align: left;
}

.devices-header {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: auto;
}

.devices-header h3 {
  display: inline;
  color: #546f98;
  text-shadow: none;
}

/* *****************  Add device   ******************* */
.head-container {
  display: flex;
  justify-content: space-between;
}

.AddDeviceButton {
  margin: 25px;
  width: 120px;
  height: 40px;
  border-style: solid;
  border: 0;
  border-radius: 15px;
  background-color: #546f98;
  color: white;
}
.AddDeviceButton:hover {
  background-color: #3f5d8a;
}
.AddDeviceButton:active {
  background-color: #2c4d80;
}
