@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
/*BACKGROUND COLOR 
#7AA4E3 - light blue
#546f98 - dark blue
#e35959 - red
#57c09d - green
*/
html {
  font-family: "Roboto", sans-serif;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  color: gainsboro;
}

/*-------- HEADER ----- */
header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  max-height: 85px;
  overflow: hidden;
  z-index: 5;
  background-color: #7aa4e3;
  box-shadow: 0px 3px #546f98;
}

header img {
  position: absolute;
  z-index: -1;
  left: 7vw;
  top: 10px;
  width: 65px;
  height: 65px;
}
.header-container {
  width: 100%;
  display: flex;
}

.logo-container,
nav-flex {
  display: block;
  flex-direction: column;
  min-width: 40%;
  margin-left: 2vw;
  min-width: 350px;
}

#logoName {
  font-size: 45px;
}

#logoName span {
  font-weight: 900;
}

.logo-container label {
  display: block;
}

.menu-options {
  width: 100%;
  display: flex;
  list-style: none;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.menu-options li a {
  text-align: center;
  padding: 31px 45px;
}

.menu-options li a:hover {
  background-color: #546f98;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .menu-options li a {
    font-size: 75%;
    padding: 31px 33px;
  }
  .logo-container {
    min-width: 170px;
  }
}

@media screen and (max-width: 650px) {
  .menu-options li a {
    font-size: 75%;
    padding: 31px 10px;
  }
  .logo-container {
    min-width: 100px;
    width: 150px;
  }
}
/* ******************* MAIN CONTENT ************* */

.main-container {
  display: block;
  position: relative;
  z-index: 1;
  top: 80px;
  margin-top: 80px;
  width: 70%;
  left: 15%;
}

.main-container h1 {
  margin: 25px 30px;
  color: #546f98;
  text-shadow: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-container > div {
  width: 90%;
  height: 130px;
  background-color: #7aa4e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  min-width: 90%;
}
@media screen and (max-width: 1250px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    max-width: 650px;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.info-title {
  font-size: 20px;
}

.info-value {
  margin: 30px -150px 0 0;
  font-size: 45px;
}

/* *****************  MAP   ******************* */
.leaflet-container {
  width: 100%;
  height: 500px;
}
