/* ******************* MAIN CONTENT ************* */

/*BACKGROUND COLOR 
#7AA4E3 - light blue
#546f98 - dark blue
#e35959 - red
#57c09d - green
*/

.main-container h1 {
  margin: 25px 30px;
  color: #546f98;
  text-shadow: none;
}

.map-container {
  padding: 25px;
  background-color: #7aa4e3;
  border-radius: 25px;
}
